<div id="function-panel-toggle" title="Toggle Function Panel">
    <svg class="toggle-arrow arrow-left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" /></svg>
    <svg class="toggle-arrow arrow-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /></svg>
</div>

<div class="tab-container">
    <button id="f1-tab" class="tab-button active" data-tab-target="#f1-content">F1</button>
    <button id="f2-tab" class="tab-button" data-tab-target="#f2-content">F2</button>
    <button id="f3-tab" class="tab-button" data-tab-target="#f3-content">F3</button>
    <button id="f4-tab" class="tab-button" data-tab-target="#f4-content">F4</button>
</div>

<div class="tab-content-container">
    <div id="f1-content" class="tab-content active">
        <div class="function-grid">
            <button id="key-insert">Insert</button>
            <button id="key-delete">Delete</button>
            <button id="key-save">Save</button>
            <button id="key-load">Load</button>
            <button id="key-export">Export</button>
            <button id="key-m-sel">M-Sel</button>
            <button id="key-t-set">T-Set</button>
            <button id="key-reset">RESET</button>
        </div>
    </div>
    <div id="f2-content" class="tab-content">
        </div>
    <div id="f3-content" class="tab-content">
        </div>
    <div id="f4-content" class="tab-content">
        </div>
</div>